-- 修复检查问题台账同步错误：record 'new' has no field 'lastmodified'
-- 问题根源：触发器 update_modified_column() 尝试设置 NEW.lastModified，
-- 但是 inspection_center_records 和 inspection_workshop_records 表没有 lastModified 列
-- 运行方式：在 Supabase SQL Editor 中打开此文件，点击 Run

-- 给检查问题表添加 lastModified 列
ALTER TABLE inspection_center_records
ADD COLUMN IF NOT EXISTS "lastModified" TIMESTAMP WITH TIME ZONE DEFAULT NOW();

ALTER TABLE inspection_workshop_records
ADD COLUMN IF NOT EXISTS "lastModified" TIMESTAMP WITH TIME ZONE DEFAULT NOW();
